@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&family=Outfit&display=swap');

:root{
    --primary-color: #FB8500;
    --secondary-color: #FFB703;
    --accent1-color: #023047;
    --accent2-color: #8ECAE6;

    --heading-font: 'M PLUS Rounded 1cM PLUS Rounded 1c';
    --paragraph-font: 'Outfit';

    --nav-background-color: #023047;
    --nav-link-color: #FFB703;
    --nav-hover-link-color: #8ECAE6;
    --nav-hover-background-color: #219EBC;

}

body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
header {
    padding: 20px;
    background-color: var(--accent1-color);
}
p {
    padding: 25px;
}
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
a{
    color: white;
}
article img{
    /* float: right; */
    /* margin: 0 0 10px 1px; */
}
.sociallinnks{
    color: white;
    text-decoration: none;
}
/* .hero div {
    position: relative;

} */
/* .hero img {
    display: block;
    width: 100%;
    height: auto;
} */
/* .hero h1, article {
    position: absolute;
} */

