body{
    background-color: rgba(243, 102, 184, 0.655);
}
img{
    width: 16%;
    margin: 20px auto;
    display: block;

}
h1{
    text-align: center;
    color: white;
}
p{
    width: 50%;
    text-align: center;
    color: white;
    margin: 20px auto;
}
.quote{
    width: 30%;
    margin: 0 auto;
    font-size:31px;
    padding: 40px auto;
}
div{
    font-weight: bolder;
    margin: 0 auto;
    width: 50%;
    
}
.bold{
    font-weight: bolder;
    
}
footer{
    margin: 30px auto;
    width: 40%;
    text-align: center;
}
h1:hover{
    color: black;
}
