.home-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.g2{
    background-color: rgba(128, 128, 128, 0.822);
}
h1{
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    font-size: 1200%;
    text-align: center;
}
h2{
    color: red;
    text-align: center;
    font-size: 500%;
}
img{
    grid-column: 1;
    grid-row: 1;
}